<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChatBotWorker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

  </configSections>
  
  <appSettings>

    <add key="CHAT_LINE_TOKEN" value="" />
    <add key="CHATBOT_FB_TOKEN" value="EAAJR5mOXkW8BAOhKM9exx0Hd0ZClGXVxV2yqlOivLNVca4BMQNSFeZCOJqR7KgzoZCVnZAbe0ZA3QWXQx2Y9m5W9HDfVQjpNraR1J9OHUxiPtsyN0UeUiVZBXPD8ZB4wQxskmaHdtHI7QHZAZAZCtDODMadkhIzBb03Et04dQPoZByVtTZCpRMySR5X8ZCMpF7OvlXH4ZD" />
    <add key="CHATBOT_MONGO_URL" value="" />
    <add key="CHATBOT_MONGO_IP" value="" />
    <add key="CHATBOT_MONGO_PORT" value="" />
    
  </appSettings>
 
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>