<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="CHAT_LINE_TOKEN" value=""/>
    <add key="CHATBOT_FB_TOKEN" value="EAAJR5mOXkW8BAOhKM9exx0Hd0ZClGXVxV2yqlOivLNVca4BMQNSFeZCOJqR7KgzoZCVnZAbe0ZA3QWXQx2Y9m5W9HDfVQjpNraR1J9OHUxiPtsyN0UeUiVZBXPD8ZB4wQxskmaHdtHI7QHZAZAZCtDODMadkhIzBb03Et04dQPoZByVtTZCpRMySR5X8ZCMpF7OvlXH4ZD"/>
    <add key="CHATBOT_MONGO_URL" value=""/>
    <add key="CHATBOT_MONGO_IP" value=""/>
    <add key="CHATBOT_MONGO_PORT" value=""/>

  </appSettings>
  <configSections>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>